<h1>User Posts</h1>
<div id="content">
  <ul>
    <li *ngFor="let post of posts">
      <a routerLink="">{{ post.postTitle }}</a>
      <p><img class="responsive" [src]="post.photoURL" /></p>
      <p>{{ post.postText}}</p>
      <p><strong>Created Date: </strong>{{ post.createdAt}}</p>
      <p><strong>Created By: </strong>{{ post.username}}</p>
      
        <p mat-cell>
          <button (click)="onDeletePost(post._id)" class="btn btn-danger btn-sm">Delete</button> | <button (click)="onUpdatePost(post.postTitle, post._id)" class="btn btn-danger btn-sm">Update</button>
        </p>
        <app-crud-post-form
        *ngIf="foundPost && post.postTitle === foundPost.postTitle"
        [title]="'Update Post'"
        [postInput]="foundPost"
        (post)="onUpdate($event)"
      ></app-crud-post-form>
 
    </li>
    
  </ul>
  
</div>
