<h1>All Posts</h1>
<div id="content">
  <ul>
    <li *ngFor="let post of posts">
      <a routerLink="">{{ post.postTitle }}</a>
      <p><img class="responsive" [src]="post.photoURL" /></p>
      <p>{{ post.postText}}</p>
      <p><strong>Created Date: </strong>{{ post.createdAt}}</p>
      <p><strong>Created By: </strong>{{ post.username}}</p>
      <mat-card-content>
        <button
        mat-button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Update
      </button>
      </mat-card-content>
    </li>
  </ul>
</div>
