<form [formGroup]="form" class="d-flex flex-column gap-2">
  <h4>Reactive Form</h4>
  <!-- Given Name -->
  <div class="form-group">
    <label for="givenName" class="form-label">Given Name</label>
    <input 
      type="text"
      name="givenName"
      class="form-control"
      formControlName="givenName"
    >
    <div class="text-danger" *ngIf="form.get('givenName')?.invalid && form.get('givenName')?.touched">
      Given Name is required
    </div>
  </div>
  <!-- Surname -->
  <div class="form-group">
    <label for="surName" class="form-label">Surname</label>
    <input 
      type="text"
      name="surName"
      class="form-control"
      formControlName="surName"
    >
    <div class="text-danger" *ngIf="form.get('surName')?.invalid && form.get('surName')?.touched">
      Surname is required
    </div>
  </div>
  <!-- Age -->
  <div class="form-group">
    <label for="age" class="form-label">Age</label>
    <input 
      type="number"
      name="age"
      class="form-control"
      formControlName="age"
    >
    <div class="text-danger" *ngIf="form.get('age')?.invalid && form.get('age')?.touched">
      Age is required or Invalid
    </div>
  </div>
  <!-- Email -->
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input 
      type="text"
      name="email"
      class="form-control"
      formControlName="email"
    >
    <div class="text-danger" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Email is required or Invalid
    </div>
  </div>
  <!-- Address -->
  <div class="form-group">
    <label for="address" class="form-label">Address</label>
    <input 
      type="text"
      name="address"
      class="form-control"
      formControlName="address"
    >
    <div class="text-danger" *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
      Address is required
    </div>
  </div>
  <!-- PhotoURL -->
  <div class="form-group">
    <label for="photoURL" class="form-label">PhotoURL</label>
    <input 
      type="text"
      name="photoURL"
      class="form-control"
      formControlName="photoURL"
    >
    <div class="text-danger" *ngIf="form.get('photoURL')?.invalid && form.get('photoURL')?.touched">
      PhotoURL is required
    </div>
  </div>
  <!-- UserName -->
  <div class="form-group">
    <label for="username" class="form-label">UserName</label>
    <input 
      type="text"
      name="username"
      class="form-control"
      formControlName="username"
    >
    <div class="text-danger" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
      UserName is required
    </div>
  </div>
    <!-- Password -->
  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input 
      matInput type="password" 
      formControlName="password"
    >
    <div class="text-danger" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      Password is required
    </div>
  </div>

  <!-- Submit -->
  <div class="form-group">
    <button      
     (click)="onSubmit()"
     [disabled]="!form.valid"
     class="btn btn-primary">
      Submit
    </button>
  </div>
</form>


<!-- <mat-form-field>
  <mat-label>
    Password
  </mat-label>
  <input matInput type="password" formControlName="password">
  <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">
    Password is required
  </mat-error>
</mat-form-field> -->