<div class="fx-layout-column fx-gap--16px" style="max-width :200px">
  <form [formGroup]="form" class="fx-layout-column">
    <mat-form-field>
      <mat-label>Search for Post title</mat-label>
      <input matInput type="text"
      name="title"
      class="form-control"
      formControlName="title"
      >
          <div class="text-danger" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      Title is required
    </div>
    </mat-form-field>
    <button mat-raised-button color="primary" 
    (click)="onSearch()" 
    [disabled]="!form.valid">
      Search
    </button>
  </form>
  <mat-card *ngIf="form.controls.title.touched && !foundPost" class="error">
    <mat-card-content class="fx-flex-align--center"
      >Post not found!</mat-card-content
    >
  </mat-card>
</div>