<div *ngIf="post; else nodata" class="card" style="width:18rem">

  <img [src]="post.photoURL" class="card-img-top" alt="Post Image">
  <div class="card-body">
    <h5 class="card-title"> {{post.postTitle}} </h5>
    <div class="card-text">
      <table class="table">
        <tr>
          <td class="header">Title</td>
          <td>{{post.postTitle}}</td>
        </tr>
        <tr>
          <td class="header">Text</td>
          <td>{{post.postText}}</td>
        </tr>
        <tr>
          <td class="header">User</td>
          <td>{{post.userId}}</td>
        </tr>
      </table>
    </div>
  </div>
  
</div>

<ng-template #nodata>
  <div class="alert alert-danger">
    No post data!
  </div>
</ng-template>