<p>post works!</p>
<p>Here are more details</p>
<table>
  <tr>
    <td class="header">Firstname</td>
    <td>{{ post.givenName }}</td>
  </tr>
  <tr>
    <td class="header">Lastname</td>
    <td>{{ post.surName }}</td>
  </tr>
  <tr>
    <td class="header">Age</td>
    <td>{{ post.age }}</td>
  </tr>
  <tr>
    <td class="header">Email</td>
    <td>{{ post.email }}</td>
  </tr>
  <tr>
    <td class="header">Address</td>
    <td>{{ post.address }}</td>
  </tr>
  <tr>
    <td class="header">UserName</td>
    <td>{{ post.username }}</td>
  </tr>
  <tr>
    <td class="header">Password</td>
    <td>{{ post.password }}</td>
  </tr>
</table>
