<p>person works!</p>
<p>Here are more details</p>
<table>
  <tr>
    <td class="header">Firstname</td>
    <td>{{ person.givenName }}</td>
  </tr>
  <tr>
    <td class="header">Lastname</td>
    <td>{{ person.surName }}</td>
  </tr>
  <tr>
    <td class="header">Age</td>
    <td>{{ person.age }}</td>
  </tr>
  <tr>
    <td class="header">Email</td>
    <td>{{ person.email }}</td>
  </tr>
  <tr>
    <td class="header">Address</td>
    <td>{{ person.address }}</td>
  </tr>
  <tr>
    <td class="header">UserName</td>
    <td>{{ person.username }}</td>
  </tr>
  <tr>
    <td class="header">Password</td>
    <td>{{ person.password }}</td>
  </tr>
</table>
