<mat-card>
  <mat-card-header>
    <mat-card-title> CRUD demo </mat-card-title>
    <mat-card-subtitle> Delete Post </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="fx-layout-column fx-gap--16px">
      <app-crud-post-search-criteria
        (postFound)="onPostFound($event)"
      ></app-crud-post-search-criteria>

      <div *ngIf="foundPost" class="fx-layout-column fx-gap--16px">
        <mat-card class="example-card" *ngIf="foundPost">
          <mat-card-header>
            <div
              mat-card-avatar
              [ngStyle]="{
                'background-image': 'url(' + foundPost.photoURL + ')',
                'background-size': 'cover'
              }"
            ></div>
            <mat-card-title
              >{{ foundPost.postTitle }}</mat-card-title
            >
            <mat-card-subtitle>{{ foundPost.postTitle }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Text: {{ foundPost.text }}</p>
            <p>User: {{ foundPost.userId }}</p>
          </mat-card-content>
        </mat-card>
        <app-danger-are-you-sure
          (confirm)="onConfirm($event)"
        ></app-danger-are-you-sure>
      </div>
    </div>
  </mat-card-content>
</mat-card>
