<form [formGroup]="form" class="fx-layout-column">

  <mat-form-field>
    <mat-label>Current Password</mat-label>
    <input matInput type="password" formControlName="currentPassword" />
    <div>
      <mat-error class="font" *ngIf="form.controls.currentPassword.invalid && form.controls.currentPassword.touched">
        Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters Password cannot
              contain whitespace
      </mat-error>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" />
    <div>
      <mat-error class="font" *ngIf="form.controls.newPassword.invalid && form.controls.newPassword.touched">
        Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters Password cannot
              contain whitespace
      </mat-error>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
    <div>
      <mat-error class="font" *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched">
        Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters Password cannot
              contain whitespace
      </mat-error>
    </div>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    {{ title }}
  </button>
</form>
